@import "tailwindcss";


html, body {
  overflow-x: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-poppins); */
  /* font-family: ; */
  background-color: #ffffff;
  /* font-family: sans-serif; */
}

.Toastify__progress-bar--success {
  background: linear-gradient(to right, #00ff99, #00bfff) !important;
}
.Toastify__progress-bar--error {
  background: linear-gradient(to right, #ff4b1f, #ff9068) !important;
}

/* Info or default toasts */
.Toastify__progress-bar {
  background: linear-gradient(to right, #17af30, #3eb82e) !important;
}